In [2]:
import pandas as pd

In [4]:
df_books=pd.read_csv("datos/good_reads_final.csv")
df_books.head()

,author_average_rating,author_gender,author_genres,author_id,author_name,author_page_url,author_rating_count,author_review_count,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,num_ratings,num_reviews,pages,publish_date,score
0,4.01,female,"historical-fiction,",74489,Victoria Thompson\n,/author/show/74489.Victoria_Thompson,74399,6268,United States\n,4.02,https://www.goodreads.com/book/show/686717.Mur...,686717,\n Murder on St. Mark's Place\n,Mystery,Historical,5260,375,277,2000,3230
1,4.15,male,"literature-fiction,mystery-thrillers,",706255,Stieg Larsson\n,/author/show/706255.Stieg_Larsson,3726435,142704,Sweden\n,4.13,https://www.goodreads.com/book/show/2429135.Th...,2429135,\n The Girl with the Dragon Tattoo\n,Fiction,Mystery,2229163,65227,465,August 2005,3062
2,4.00,female,"romance,",5618190,Mimi Jean Pamfiloff\n,/author/show/5618190.Mimi_Jean_Pamfiloff,76496,7975,United States\n,3.99,https://www.goodreads.com/book/show/27833684-t...,27833684,\n Tailored for Trouble\n,Romance,Contemporary,2151,391,354,2016,4585
3,3.88,male,"fiction,memoir,",37871,José Donoso\n,/author/show/37871.Jos_Donoso,5522,489,Chile\n,4.14,https://www.goodreads.com/book/show/382975.The...,382975,\n The Obscene Bird of Night\n,Fiction,Magical Realism,1844,173,438,1970,1533
4,4.10,female,"young-adult,fantasy,",36122,Patricia C. Wrede\n,/author/show/36122.Patricia_C_Wrede,291013,13453,United States\n,4.01,https://www.goodreads.com/book/show/64207.Sorc...,64207,\n Sorcery & Cecelia: or The Enchanted Ch...,Fantasy,Young Adult,17051,1890,326,April 15th 1988,2105

Lo primero averiguamos el número de filas y columnas del data frame

In [6]:

df_books.shape

(22891, 20)

#vamos a ver el nombre de cada columna para ver la información con la que podemos jugar

In [8]:

df_books.columns

Index(['author_average_rating', 'author_gender', 'author_genres', 'author_id',
       'author_name', 'author_page_url', 'author_rating_count',
       'author_review_count', 'birthplace', 'book_average_rating',
       'book_fullurl', 'book_id', 'book_title', 'genre_1', 'genre_2',
       'num_ratings', 'num_reviews', 'pages', 'publish_date', 'score'],
      dtype='object')

Vamos a ver el tipo de dato por columna. Lo hago con info porque así veo si hay algun Nan.

In [11]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22891 entries, 0 to 22890
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   author_average_rating  22891 non-null  float64
 1   author_gender          22891 non-null  object
 2   author_genres          22891 non-null  object
 3   author_id              22891 non-null  int64
 4   author_name            22891 non-null  object
 5   author_page_url        22891 non-null  object
 6   author_rating_count    22891 non-null  int64
 7   author_review_count    22891 non-null  int64
 8   birthplace             22891 non-null  object
 9   book_average_rating    22891 non-null  float64
 10  book_fullurl           22891 non-null  object
 11  book_id                22891 non-null  object
 12  book_title             22891 non-null  object
 13  genre_1                22891 non-null  object
 14  genre_2                22891 non-null  object
 15  num_ratings            22891 non-null  int64
 16  num_reviews            22891 non-null  int64
 17  pages                  22891 non-null  object
 18  publish_date           22610 non-null  object
 19  score                  22891 non-null  int64
dtypes: float64(2), int64(6), object(12)
memory usage: 3.5+ MB

La única columna que me devuelve Nan es Publish Date, así que voy a ver el porcentaje que representan

In [14]:
df_nulos = pd.DataFrame(df_books.isnull().sum()/df_books.shape[0]*100)
df_nulos[df_nulos[0] > 0]

                     0
publish_date  1.227557